
.container-fluid {
    background: black;
}

.logo {
    width: 40px;
    height: 50px;
}

.center-text{
  text-align: center;
}

.navigation-bar{
  display: flex;
  flex-direction: row;
  justify-content: space-around;


}


.secondSlice{
  border-radius: 50%;
  width: 150px;
  height: 150px;
  background: #2E456D;
  display: flex;
  flex-direction: row;


}
.thirdSlice{
  display: flex;
  justify-content: space-around;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  /*box-shadow: inset 0 0 40px #DCED31;*/
  background: #488B49;
  margin-bottom: 10px;

}

.fourthSlice {

  display: flex;
  flex-direction: column;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  background: #DA4167;
}

.fivethSlice{
  height: 400px;
  color: #C9C19F;
  font-size: 20pt;
  text-align: center;


}

.thirdSlice:visited{
  width: 10px;
  height: 50px;
  border: 5px solid #C9D5B5;
}

.secondSlice:hover{
  transform: scale(1.1,1.1) ;
  border: 1px solid #6C6F7F;
}

.thirdSlice:hover{
  transform: scale(1.1,1.1) ;
  border: 1px solid #C9D5B5;
}



.fourthSlice:hover{
  transform: scale(1.1,1.1) ;
  border:1px solid #F4ACB7;
}



h2{
  text-align: center;
  text-transform: uppercase;
  color: #EDF7B5;
  margin-top: 50px;
}


.find-me{
  display: flex;

  justify-content: center;
  align-items: flex-end;
  height: 100px;
}


.find-me img{
  width: 30px;
  margin-left: 10px;




}

.center-text:hover {
    text-decoration: none;

    color: white;
}

.center-text {
  display: flex;
  justify-content: center;
  align-items: center;
color: #EDF7D2;
}


.tinyman{
  height: 50px;
  width: 10px;
  background-color: #ff0000;
}

.footer {
    display: flex;
    height: 100px;
    background: black;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 500px ){
  .find-me{

    margin-top: 30px;
  }



    .secondSlice {
        border-radius: 50%;
        width: 100px;
        height: 100px;
        background: #2E456D;
        display: flex;
        flex-direction: column;

    }


    .thirdSlice{
      display: flex;
      flex-direction: column;
      border-radius: 50%;
      width: 100px;
      height: 100px;
      /*box-shadow: inset 0 0 40px #DCED31;*/
      background: #488B49;
      margin-bottom: 10px;
    }

    .fourthSlice{

      display: flex;
      flex-direction: column;
      border-radius: 50%;
      width: 100px;
      height: 100px;
      background: #DA4167;

    }



}
