/*
**COLORS:
* BLACK
* #561D25
* #363537
* #2E456D
* #488B49
* #DA4167
* White
* #F2E9DC


*/

.container-fluid {
    background: black;

}

.logo {
    width: 40px;
    height: 50px;
}

.firstSlice {
    width: 400px;
    height: 300px;
    /*background: #363537;*/
    margin-top: 70px;
}

/*.secondSlice {
    background: black;
}*/

.thirdSlice {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    background: #2E456D;
    display: flex;
    flex-direction: column;

}

.fourthSlice {
    display: flex;
    flex-direction: column;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    /*box-shadow: inset 0 0 40px #DCED31;*/
    background: #488B49;
    margin-bottom: 10px;
}

.fivethSlice {
    display: flex;
    flex-direction: column;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    background: #DA4167;
}

.center-text:hover {
    text-decoration: none;
    color: white;
}

.center-text {
    justify-content: center;
    align-items: center;
    color: #F2E9DC;
}

.thirdSlice:hover{
  transform: scale(1.1,1.1) ;
  border: 1px solid #6C6F7F;
}



.fourthSlice:hover{
  transform: scale(1.1,1.1) ;
  border: 1px solid #C9D5B5;


}

.fivethSlice:hover{
  transform: scale(1.1,1.1) ;
  border:1px solid #F4ACB7;
}



.footer {
    display: flex;
  padding-top: 150px;
    background: black;
    flex-direction: row;
    justify-content: center;
    align-items: center;


}
