.firstCard {
    height: 400px;
    margin-top: 40px;
    border-radius: 5%;
    display: block;
}

.secondCard {
    height: 350px;
    margin-top: 40px;
    border-radius: 5%;
}

.thirdCard {
    height: 450px;
    margin-top: 40px;
    border-radius: 5%;
}

.fourthCard {
    height: 500px;
    border-radius: 5%;
    margin-top: 40px;
}

.fivethCard {
    height: 450px;
    border-radius: 5%;

}

.sixthCard {
    height: 400px;
    margin-top: 30px;
    border-radius: 5%;
}

.caption {
    color: #E7F9A9;
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
}

.firstCard:hover .image {
    opacity: 0.3;
}

.firstCard:hover .caption {
    opacity: 1;
}

.secondCard:hover .image {
    opacity: 0.3;
}

.secondCard:hover .caption {
    opacity: 1;
}

.thirdCard:hover .image {
    opacity: 0.3;
}

.thirdCard:hover .caption {
    opacity: 1;
}

.fourthCard:hover .image {
    opacity: 0.3;
}

.fourthCard:hover .caption {
    opacity: 1;
}

.fivethCard:hover .image {
    opacity: 0.3;
}

.fivethCard:hover .caption {
    opacity: 1;
}

.sixthCard:hover .image {
    opacity: 0.3;
}

.sixthCard:hover .caption {
    opacity: 1;
}


.center-text:hover {
    text-decoration: none;
    color: white;
}

.secondSlice:hover{
  transform: scale(1.1,1.1) ;
  border: 1px solid #6C6F7F;
}

.thirdSlice:hover{
  transform: scale(1.1,1.1) ;
  border: 1px solid #C9D5B5;
}

.fourthSlice:hover{
  transform: scale(1.1,1.1) ;
  border: 1px solid #C9D5B5;
}
