.big-circle {
  background-color: rgba(0, 0, 0, 0.5);
}


.big-circle:hover {
  box-shadow: inset 10px 10px 300px 0 #5da19b;
  border: 0.5rem solid rgba(255, 255, 255, 0.2);
}

a {
  color: #ffffff;
}

a:hover {
  color: #97ff96;
  text-decoration: none;
}

a:active {
  color: #97ff96;
  text-decoration: none;
}

a:focus {
  color: #97ff96;
  text-decoration: none;
}
/* .main-content {

  height: 110vh;
  background-image: url("http://res.cloudinary.com/cuteblacky/image/upload/v1516056531/Screen_Shot_2017-12-08_at_12.50.10_PM_zgxo0v.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
} */

.header {
  width: 110%;
  top: -5%;
  left: -5%;
  transform: rotate(2deg);
}

.header p {
  margin-left: 5%;
  transform: rotate(-2deg);
}

.pt-4{
  margin-top: 20px;
}
