.big-circle {
    background-color: rgba(0, 0, 0, 0.5);
    height: 700px ;
   border-radius: 50%;
   background-position: center;
   background-repeat: no-repeat;
   background-image: url(http://res.cloudinary.com/cuteblacky/image/upload/v1516623461/circlebg_joajdm.svg);
}


.big-circle:hover {
  box-shadow: inset 10px 10px 300px 0 #5da19b;
  border: 0.5rem solid rgba(255, 255, 255, 0.2);
}

a {
  color: #ffffff;
}

a:hover {
  color: #97ff96;
  text-decoration: none;
}

a:active {
  color: #97ff96;
  text-decoration: none;
}

a:focus {
  color: #97ff96;
  text-decoration: none;
}
/* .main-content {

  height: 110vh;
  background-image: url("http://res.cloudinary.com/cuteblacky/image/upload/v1516056531/Screen_Shot_2017-12-08_at_12.50.10_PM_zgxo0v.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
} */

.header {
  width: 110%;
  top: -5%;
  left: -5%;
  transform: rotate(2deg);
}

.header p {
  margin-left: 5%;
  transform: rotate(-2deg);
}

.pt-4{
  margin-top: 20px;
}


.hoverable{
  border-radius: 50%;
}


.hoverable-rectangle {
  -webkit-transition: -webkit-box-shadow .25s;
  transition: -webkit-box-shadow .25s;
  transition: box-shadow .25s;
  transition: box-shadow .25s, -webkit-box-shadow .25s;
}

.hoverable-rectangle:hover {
  -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.small-circle{
  height: 400px;
  border-radius: 50%;
  border: 4px solid #3b4b60;
  font-size: 8pt;


}

.mt-5{
  margin-top: 11px;
}

.mt-4{
  margin-top: 20px;
}
.p{
  padding: 20px;
}

.logo-background{
   background: #ffffff;
   height: 100px;
}

.logo-section{
background:#f1f1f1;
font-size: 8pt;
height: 120px;
border-right: 1px solid #ffff;
border-top: 1px solid #ffff;
}


.tiny-image{
  margin-top: 30px;
}


// assume min-width (by default) if only a number
$high-tide: 500px;




@media screen and (min-width: 1000px) {


  .big-circle {
        height: 600px !important;

  }

  .small-circle{
    height: 400px;
    border-radius: 50%;
    border: 4px solid #3b4b60;
    font-size: 8pt;
    margin-top: 100px;

  }
}


@media screen and (min-width: 1300px) {


  .big-circle {
        height: 700px !important;

  }

  .small-circle{
    height: 550px;
    border-radius: 50%;
    border: 4px solid #3b4b60;
    font-size: 12pt;
    margin-top: 100px;

  }

  .tiny-image{
    margin-top: 50px;
  }




}
